.general{
    margin: auto;
    width: 80%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    border: 0%;
    padding: 0%;
}
header {
    margin: auto;

}
.contenedor {
    margin: auto;
    padding: 0px;
    margin: 1em;
    width: 100%;
}
.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
}
.arte {
    display: flex;
    justify-content: left;
}
.may {
    width: 3em;
    height: 3em;
    border: .5em;
    border-radius: 50%;
}
nav ul {
    padding: 0px;
    margin: .5em;
}
nav li {
    margin: 1em;
    display: inline-block;
    margin:.5em ;
    border: 2px green ;
    padding: .5em;
}
.boton1 {
    margin: 0px;
    border: 1px solid black;
    padding: .5em;
    border-radius: 15px;

}
.boton2 {
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    width: 5em;
    padding: .5em ;
    border-radius: 15px;
    background-color: black;
    color: white;
}
.verde {
    background-color:darkgreen ;
    width: 95%;
    height: 300px;
    justify-content: center;
}
.rojo {
    display: flex;
    width: 95%;
    height: 300px;
    justify-content: center;
}

.rojo img{
    width: 100%;
}

.img-rojo{
    width: 50%;
}

.encabezado {
    font-size: 2em;
    margin: 0px;
    padding: .3em;

}
img {
    width: 100%;
    height: 100%;
}
.txt1 {
    width: 50%;
    background-color:crimson ;
    align-items: center;
}
.txt2 {
    width: 50%;
    background-color: crimson;
    align-items: center;
}
h2 {
    color: white;
    text-align: center;
    padding: .3em;
}
p {
    color: white;
    text-align: center;
    font-size: 1em;
}
.has {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pedido {
    margin: 5px;
    border: 1px solid white ;
    padding: .5em;
    width: 7em;
    height: 10%;
    border-radius: 15px;
    color: white;
    text-align: center;

}
.esp {
    width: 5%;
    height: auto;
    background-color: crimson;
}

.footer {
    display: flex;
    border-top: 1px solid darkgray;
    width: 95%;
    height: auto;
    margin: auto;
}
.redes {
    width: 50px;
    height: 50px;
}
footer div p {
color: black;
text-align: start;
padding: 2em;

}

main{
    width: 100%;
    height: 70%;
    margin: auto;
}

footer{
    width: 100%;
    height: 20%;
}

.enlace {
    color: white;
}